body{
  background: #fff;
  font-weight: 100;
  margin:0;
  padding:0;
  font-family: 'Sintony', Arial, sans-serif;
  line-height: 1.5em;
}
body,a{
  color: #666;
}
.emph{
  color: #018E0E;
}
h2 {
  font-weight: 100;
}
img.sm{
  width: 160px;
}
img.md{
  width: 665px;
}
img {
  max-width: 100%;
}
.container{
  position: absolute;
  top:   4%;
  left:  10%;
  right: 10%;
  text-align:center;
}
.container-wide{
  width:      1100px;
  max-width:  100%;
  text-align: center;
  margin:     0 auto;
}
.container p,
.container nav{
  max-width:    600px;
  margin-left:  auto;
  margin-right: auto;
}
nav{
  font-size: 1.5em;
  line-height: 1.2em;
}
nav > a{
  display: block;
  margin-top: .5em;
  padding: .6em;
  border-radius: .2em;
  text-decoration: none;
  text-align: left;
  color: #fff;
}
nav a i{
  padding-right: .3em;
}
.bg-uu { background-color: #A76F6F; }
.bg-youtube { background-color: #F31559; }
.bg-patterns  { background-color: #6528F7; }
.bg-books  { background-color: #F3AA60; }
.bg-patreon  { background-color: #3a3a3a; }
.bg-twitter { background-color: #00acee; }
nav > a:hover{
  opacity: 0.7;
}
iframe{
  margin:  1.5em 0 62px 0;
  padding: 0;
  max-width: 100%;
}
